[2013-11-01 10:48] stla opened #6 "mode and theme don't work with renderUI()"
Hello,
When using `aceEditor()` through a `renderUI()`, then the options `mode` and `theme` do not work.
Please see http://glimmer.rstudio.com/stla/Isolate_example1/
The `showfiles()` function is in `global.R`:

[code]

[2014-01-16 17:07] trestletech opened #11 "sendCustomMessage not Updating Non-Visible Elements"
It looks like sendInputMessage would be a better fit for what we're doing.

https://github.com/rstudio/shiny/blob/master/R/shiny.R#L273

[2014-10-13 05:47] vnijs opened #18 "aceEditor height and saving/loading rmd files"
I use the code below for shinyAce. When I set height = "auto", or height = "80%" the editor window collapses to a height of one line (Mac/Chrome github version of shinyAce). Am I writing this wrong?

Also, are there more elegant ways to load and save rmd/html/etc. files with ace in Shiny than the below?

    output$report <- renderUI({

      list(
        actionButton("evalRmd", "Update"),

[2014-10-24 09:17] vnijs opened #19 "vimKeyBindings loses ace-focus"
Some difficulties getting back to normal-mode with vimKeyBindings in ShinyAce

When I am in normal-mode I can move around with hjkl keys nicely. When I am in insert-mode and use the Escape key to try and get back to normal model the "<pre id =" element loses ace-focus and I cannot move around. In fact the keys scroll the webpage and not the editor.

Element without ace-focus: <shiny-ace ace_editor

[2014-12-11 16:46] filipsch opened #22 "Interactive plots"
Hi,

Do you think there is any way to extend the shinyui example to allow the coding of dynamic ggvis plots? This would mean an actual shiny app with controls and corresponding callbacks inside the shiny app that houses the ace editor etc.

I tried to extend the example:
[code]
[code]

The default code in the editor leads to an app that displays and reacts correctly. However, when you change the c

[2014-12-30 23:41] alexoor opened #23 "Is that possible to use shinyAce to edit an existing txt file with code"
It looks like a predefined text string is always used in all examples. I wonder if there is a way to open a text file, edit and save. Then eval(parse()) for execution the code from the file.

In utils package, we can use vi() to call a editor. However, it is not voked above Shiny page. Instead, it goes into R studio.

I am looking for a solution to edit text file directly in Shiny.

Thanks,
Alex

[2015-01-04 02:24] sjmgarnier opened #24 "Add rmarkdown (or knitr) mode to shinyAce"
I'm currently working on a rmarkdown editor with instant preview using shinyAce (code at [swarm-lab/editR](https://github.com/swarm-lab/editR)). It works great and it is very easy to set up. Thank you for this.

My problem is that if I use aceEditor in markdown mode, R code chunks don't get syntax highlighting or automated indentation like RStudio does for instance. Do you plan on creating a rmark

[2015-01-14 04:43] trestletech commented on #22
Hi. Sorry I'm just now getting a chance to look at this.

Unfortunately I have no idea what the problem is here, but it looks like something that would be addressed in Shiny or, more likely, in ggvis. You may have better luck posting on one of those mailing lists.

I'll close this issue for now, but do feel free to reopen it if you feel like there's an issue on the ShinyAce side of things.

[2015-01-14 04:43] #22 closed

[2015-01-14 04:44] trestletech commented on #23
Sure. You could use something like `readLines` to read a file into a String which gets provided to ShinyAce, then use `writeLines` to update the file every time the reactive value changes.

[2015-01-14 04:44] #23 closed

[2015-01-14 05:01] trestletech commented on #24
You're quite welcome. And I really like your app! I may use that in the future when doing Rmd.

Unfortunately the Ace syntax highlighting for R is not Rmarkdown-aware. The "proper" implementation here is, of course, RStudio IDE. And they do use Ace and have all the [syntax highlighters](https://github.com/rstudio/rstudio/tree/44b1b2815b76013d5a2ba6e9a203ab52be7e5d9e/src/gwt/acesupport/acemode) tha

[2015-01-14 14:38] alexoor commented on #23
Yeap, I have tried that way, it works perfectly. Thank you so much for building such a nice tool and answering my question.

[2015-01-14 18:30] sjmgarnier commented on #24
No problem. After reading similar requests online I figured it was not a trivial thing to do.

As for the legal thing of integrating RStudio code in yours, [this chart](http://www.dwheeler.com/essays/floss-license-slide.html) pretty much sums it up I think, unfortunately. Oh well...

[2015-01-18 17:17] sjmgarnier opened #25 "After upgrading to shiny 0.11, shinyAce throws an incompatibility warning"
After upgrading to shiny 0.11, shinyAce throws the following warning when loading:

[code]

[2015-01-21 03:32] trestletech commented on #25
I can't repro. Can you send the output of:

[code]

[2015-01-21 16:16] sjmgarnier commented on #25
[code]

[2015-01-21 16:18] sjmgarnier commented on #25
BTW, the complete aceEditor command that I issue is:

[code]

[2015-01-27 04:22] #25 closed

[2015-01-27 04:22] trestletech commented on #25
Found it. Thanks again for the info and the report!

[2015-01-27 04:43] sjmgarnier commented on #25
No problem. I'm glad you found the root of the problem. Damn regex :-)

[2015-02-03 16:58] vnijs opened #26 "new version on CRAN ?"
Do you have a timeline for when the new version will be on CRAN?

Thanks!!

[2015-02-21 05:03] mostly-harmless commented on #26
bump

[2015-03-11 11:18] DesmondCampbell opened #27 "bug - tab key press represented by spaces"
I’m using shinyAce as an editable text area.
The problem is with the tab character.
I preloaded the shinyAce textarea with a file’s contents.
In this file, the tab character delineates name value pairs etc
E.g. Alpha\t0.5
ShinyAce renders such text correctly and reflects it back to server.R correctly

However when I want to add another name value pair, pressing the tab key when I want a tab charac

[2015-03-14 18:01] mostly-harmless commented on #26
Sorry to keep bugging you but ... could you push the current version of shinyAce to CRAN?

[2015-03-27 02:06] vnijs opened #28 "build error in DESCRIPTION"
The description file is causing build errors. It also has non-ASCII data which will likely be a problem for CRAN

Build errors fixed by replacing ',' with ')' at the end of Authors

[2015-03-27 02:07] trestletech commented on #28
Thanks. 3217e8ed3f2444f8c8077d9af2ac9cae9d513baf

[2015-03-27 02:07] #28 closed

[2015-03-27 02:22] vnijs commented on #28
Thanks for the quick response. The package now builds but still throws a Non-ascii warning on build-check (and 4 notes)

[2015-03-27 04:10] DesmondCampbell commented on #27
For my shiny application I want the shinyAce editor to use hard (as opposed to soft) tabbing.

I see that the ace editor supports toggling of soft v hard tabs configurable with
  To use soft tabs: editor.getSession().setUseSoftTabs(true);
(from - https://github.com/ajaxorg/ace/wiki/Embedding-API)

I also see that shinyAce has a function jsQuote().
Perhaps I could use this to set the editor to hard

[2015-04-05 04:56] sjmgarnier commented on #26
I support @vnijs request to push the latest version (0.2.1) of shinyAce to CRAN. It's the last package missing for me to be able to submit my [`editR`](https://github.com/swarm-lab/editR) package to CRAN.

Thanks for your hard work.

[2015-04-13 22:27] vnijs commented on #26
Bump

[2015-05-19 17:42] vnijs commented on #18
I'm sure you've seen this but just in case ... https://github.com/swarm-lab/editR/blob/master/inst/app/www/editR.css has some really useful CSS formatting for shinyAce

[2015-05-19 17:42] #18 closed

[2015-06-29 02:46] trestletech commented on #26
Sorry to be non-responsive. I had gone through a prolonged battle getting a package on CRAN recently and didn't have the emotional energy to do it again.

I sat down to take a look at this tonight and found that we now have a couple of issues in `R CMD check` that would need to be resolved before we can get this on CRAN.

If someone's able to submit a PR, I'll do my best to review that in a timely

[2015-06-30 16:37] vnijs commented on #26
Thanks for the update Jeff. It is unfortunate that CRAN can be such a drain. Below the _highlights_ from R CMD check. There are 5 issues (see comments below). There is not much I can help with on 1-4 but I'm happy to work on 5 and submit a pull-request. Let me know.

1. Can the non-ASCII letter be removed?
2. Is size likely to be an issue for CRAN for a package like this? Is it an option to focus

[2015-07-14 08:02] vnijs commented on #19
Seems like this was an issue with the vimium extension in Chrome.

http://stackoverflow.com/questions/29056118/chrome-hijack-escape-key-for-vim-mode-in-cloud9-ide

[2015-07-14 08:02] #19 closed

[2015-07-14 08:39] vnijs opened #29 "submit current line and move one line down"
I use shinyAce in a shiny app as an rmarkdown and R-code editor. Works great and allows the user to interact with data and reactives directly in the shiny app (see links below). I wish I could use these features on a server but that is another issue.

The main thing I miss in shinyAce compared to, say, Rstudio or other editors with an R-mode is the ability to submit a line of code based on the lin

[2015-07-19 01:26] saurfang commented on #26
The `utils:::.win32consoleCompletion` is used for autocompletion.

The is documented in `?rcompgen` (A Completion Generator for R). In the **Unexported API** section, it mentions

...
The `.win32consoleCompletion` is similar in spirit, but is more geared towards the Windows GUI (or rather, any front-end that has no completion facilities of its own).

Thus I feel the use of this unexported function

[2015-07-20 07:03] dmenne opened #30 "Clearing aceEditor"
It is possible to set any non-empty text with updateAceEditor, but clearing by setting to "" does not work

[code]

[2015-08-20 22:08] lc0 commented on #30
@dmenne for me it worked out with an integer value
[code]

Not the best beautiful way, but does what you expect.

[2015-08-21 07:29] dmenne commented on #30
Thank, really funny. I had tried NULL, NaN, ""

[2015-08-21 08:14] lc0 commented on #30
I just checked source code, and with these values, you won't pass conditions

[2015-09-20 13:20] vixr opened #31 "Time delay in reactive input reflecting editor contents"
In the current version, I've noticed there's a time delay in the editor contents.

I have an actionButton that triggers an evaluation of input$myAce where myAce is the identity of the shinyAce widget.

I've noticed that if I wait a while after editing before pressing the actionButton, input$myAce evaluates correctly to the current contents of the editor. If I press the actionButton too quickly aft

[2015-10-07 12:04] krdeepakio opened #32 "Can shinyAce be integrated with rstudio-server?"
Can this be integrated with rstudio server? Or, can we preload with some variables so that they show up in autocomplete?

[2015-10-12 03:09] sjmgarnier commented on #26
I might have some time in the next few weeks to work on this. I'll submit a PR once it's done.

The problem is with the use of accented letter in the DESCRIPTION. Replacing the accented letter with non-accented ones solves the problem.

It's twice the size of the version of the package on CRAN. I don't think it'll be a big problem, but it'll most likely require to talk to a CRAN maintainer after t

[2015-10-12 04:45] vnijs commented on #26
Awesome!

[2016-01-18 14:28] Yang-Tang opened #34 "aceEditor doesn't accept dash (-) containing outputId"
Probably due to the "-" in outputId is recognized as subtraction in JavaScript. This made shinyAce incompatible with shiny module Rstudio/shiny#1081

[2016-02-04 05:23] #34 closed

[2016-02-04 07:36] vnijs commented on #29
"submit current line and move one line down"

@trestletech This would be like `selectionId` but based only on the line the cursor is on. So when `selectionId` is empty, and the 'hotkey' is press, execute the current line and move the cursor down one line. Do you think this is feasible? Any suggestions on where\how to start?

[2016-02-09 04:35] VermillionAzure opened #38 "Cannot use a certain ID for Shiny app with shinyAce"
Hello,

[code]

The code above does not result in the correct behavior for the Ace editor. My guess is that the ID, when coverted to JavaScript, results in certain problems. The `codebox.` ID prefix doesn't cause problems if I change it to `codebox_`

[2016-02-09 05:07] #38 closed

[2016-02-09 05:07] trestletech commented on #38
Should be fixed now. Can you test on the latest commit on master?

[2016-02-20 07:16] Yang-Tang opened #40 "updateAceEditor is not working in shiny module"
Please look at the following code. The `updateAceEditor` cannot update the text contained in the editor after clicking the `Clear` button

[code]

[2016-03-12 18:50] vnijs commented on #26
Any updates? Thanks

[2016-03-12 21:37] trestletech commented on #26
sorry.

Fingers crossed!

[2016-03-15 02:22] trestletech commented on #26
Huzzah! https://cran.rstudio.com/web/packages/shinyAce/index.html

Should trickle to other mirrors and have binaries built within 24 hours.

I think I am out of the business of submitting to CRAN now, though. Even with all this work it still took a couple of rounds to get things the way they like them. Happy to take on another owner of this project who's interested in furthering development and fu

[2016-03-15 02:22] #26 closed

[2016-03-15 04:27] vnijs commented on #26
Thanks Jeff!!!

[2016-04-08 08:37] skranz opened #41 "Autocompletion: R code completition not called when Ctrl-Space is pressed twice"
Hi,

thanks @saurfang for adding the code completion ability. I would like to propose a small improvement. Currently, R based code completion like the rlangCompleter is not called when the user presses Ctrl-Space twice with the same line. That is because shiny does not call the observer as the value of the shiny input for code completion has not change.
To fix this I have proposed a pull request t

[2016-04-08 08:39] skranz commented on #41
I tested it and it works fine in my examples and in the provided autcomplete example

https://github.com/trestletech/shinyAce/tree/master/inst/examples/06-autocomplete

[2016-04-09 02:44] trestletech commented on #41
Closed by #42

[2016-04-09 02:44] #41 closed

[2016-06-06 08:03] petermeissner opened #44 "Exposing "Common Operations" to shinyAce functions"
I was wondering if it would be possible to expose Ace operations other than those covered by `updateAceEditor` already?

Namely I think things like the following would be very useful for general UI building and text editing with shinyAce ([Link](https://ace.c9.io/#nav=howto)):
- get selected text (`editor.session.getTextRange(editor.getSelectionRange());`)
- get the current cursor line and column

[2016-06-07 17:44] mslegrand commented on #44
The answer should be yes. I am actually quite interested in doing this.
The extension to api should be thin, with minimal interviewing javascript
so that the api could be fully exposed. However the devil is in the
details.

Essentially, we want to enhance browser to server and server to browser
messaging.

Currently:
1. Server to Browser is handle by updateAceEditor. (easy to enhance)
2. Browser t

[2016-06-09 12:05] petermeissner commented on #44
I do not know about the implementation side - I guess this was directed to the other package developers anyways - but on top of your use case I can throw in my own one as well:

I would like to do content coding in R and shinyAce would be awesome for building the GUI on top of the backend - because, looks good, is powerful, and is integrated in Shiny. So my use case would be to mark some text, kli

[2016-08-24 14:03] TomasHovorka commented on #31
I observe the same. Very annoying. Any workarounds known? thanks

[2016-09-21 23:14] The-Dub opened #46 "aceEditor bugs when initialized with certain escape characters (\r & \f)"
Hi,

I realized that the `aceEditor` function breaks when you initialize the `value` parameter with \r or \f. The later also breaks RStudio a little bit (clears the console). I tried the other common escape characters, and it worked fine.

[code]

I looked at the code, and I believe it's coming from the jsQuote function

[code]

I changed the function by adding two exceptions handlers for \r and \

[2016-11-28 20:53] VMJim opened #47 "Request: add placeholder argument"
A nice feature would be a `placeholder` argument just like `textInput(placeholder = "type some code here", ...)`.

Give it a thought :)

Jim

[2017-01-12 22:38] seankross commented on #46
Hey Jeff (@trestletech)

What is the chance of this change getting incorporated into shinyAce? Would it help if I sent you a PR? The reason I'm asking is because I'm certain this issue is causing problems for my swirlify package (swirldev/swirlify#37). If there's any way I can help get this resolved quickly please let me know, I know you're a busy man.

Sean

[2017-03-07 12:15] zzawadz commented on #40
@Yang-Tang I know that a long time passed, but I found a solution...

Just use:
[code]

[2017-03-08 03:19] Yang-Tang commented on #40
@zzawadz It works now! Thank you very much!

[2017-03-08 03:19] #40 closed

[2017-06-14 08:20] Ping2016 opened #48 "autoCompleteList in aceEditor can not work"
[code]

Many thanks!

[2017-10-16 07:34] GregorDeCillia opened #49 "aceAutocomplete not working when invoked within module"
I read about [some previous](https://github.com/trestletech/shinyAce/issues/34) bug with shiny modules and I am afraid I found another one. When I call `aceAutocomplete` within a shiny module, autoComplete does not get enabled. Interestingly enough, everything works if I call `aceAutocomplete ` in the global server - even if the targeted input id is part of a module. Here is a minimal example.

[c

[2017-11-16 09:13] rubenarslan commented on #24
There's actually a pull request for mixed mode support including R, but it's 3 years old. Here's the relevant ace issue for those who're looking https://github.com/ajaxorg/ace/issues/1792

[2018-03-31 19:25] vnijs commented on #26
@trestletech `shinyAce` is a fantastic tool and is central to an app I have been working on for some time (https://github.com/radiant-rstats). I have made a few updates to the `shinyAce`, including updating the version of ace, that I would love to get on CRAN. Given your message "I think I am out of the business of submitting to CRAN now ... Happy to take on another owner of this project who's int

[2018-04-02 13:55] trestletech commented on #26
Hi @vnijs. Your changes look good and I'd love to transfer control to you. Can you shoot me an email (see `maintainer("shinyAce")`) and we can figure out the logistics?

Thanks!

[2018-04-02 16:44] vnijs commented on #6
Closing now. @stla please re-open if needed

[2018-04-02 16:44] #6 closed

[2018-04-02 16:47] vnijs commented on #11
Closing for now. If this is still something you are interested in and would like me to look into please let me know @trestletech

[2018-04-02 16:47] #11 closed

[2018-04-02 16:51] vnijs commented on #24
Would be great to have this feature. A PR would be great

[2018-04-02 19:22] vnijs commented on #31
If this is still an issue, try setting `debounce` to a different value when you call `shinyAce`. The default is `1000` milliseconds. Re-open the issue if needed

[2018-04-02 19:22] #31 closed

[2018-04-02 19:26] vnijs commented on #32
Rstudio uses the [Ace editor](https://ace.c9.io). See the [autocomplete](https://trestletech.shinyapps.io/shinyAce6/) example if that is what you are looking for. The code for this example is [here](https://github.com/trestletech/shinyAce/tree/master/inst/examples/06-autocomplete)

[2018-04-02 19:26] #32 closed

[2018-04-02 19:42] vnijs commented on #47
[This SO answer](https://stackoverflow.com/questions/26695708/how-can-i-add-placeholder-text-when-the-editor-is-empty) suggests it is possible. Happy to look at a PR

[2018-04-02 19:45] vnijs commented on #48
What exactly doesn't work as you expect @Ping2016?

[2018-04-02 23:19] vnijs commented on #27
@DesmondCampbell The current version on Github has options to set `tabSize`, (not) use `softTabs`, and (not) `showInvisibles`.  See `?shinyAce::aceEditor` for more information after installing using `devtools::install_github("trestletech/shinyAce")`

[2018-04-02 23:19] #27 closed

[2018-04-02 23:24] vnijs commented on #29
Use CTRL-enter (CMD-enter on Mac) at the start of a code (chunk) to execute and jump to the first line after the executed code. The requires installing the latest version of `shinyAce` using `devtools::install_github("trestletech/shinyAce")`. For an example application see `Report > Rmd` in Radiant.

Install instructions: https://radiant-rstats.github.io/docs/install.html
Code: https://github.com/

[2018-04-02 23:24] #29 closed

[2018-04-02 23:27] vnijs commented on #30
Setting value to "" should work now after installing the development version of `shinyAce` using `devtools::install_github("trestletech/shinyAce")`. See `inst/examples/01-basic` on GitHub for an example

[2018-04-02 23:27] #30 closed

[2018-04-02 23:28] vnijs commented on #27
See `inst/examples/01-basic` on GitHub for an example where you can change the different settings you are interested in

[2018-04-02 23:34] vnijs commented on #44
See https://github.com/trestletech/shinyAce/blob/master/R/ace-editor.R#L173-L250 for new relevant code. If you have ideas for a pull request to improve on this implementation (e.g., using https://ace.c9.io/api/editor.html#Editor.jumpToMatching).

[2018-04-02 23:36] vnijs commented on #46
@The-Dub and @seankross Please install the development version of shinyAce using devtools::install_github("trestletech/shinyAce") and try it out. Should address the identified issue

[2018-04-02 23:36] #46 closed

[2018-04-02 23:39] vnijs commented on #49
I don't use modules much and there is a pretty major new release of Shiny coming up. If the update to Shiny doesn't address your issue perhaps you could provide a PR for `shinyAce`?

[2018-04-02 23:41] vnijs commented on #48
Any ideas @saurfang?

[2018-04-03 03:56] saurfang commented on #48
Yep, I can replicate the bug. Some commits broke the feature and completion list is not passed correctly into the HTML. @vnijs did you take over this repo here or does the development goes onto your fork instead?

[2018-04-03 04:10] vnijs commented on #48
Thanks for checking @saurfang! I agreed with @trestletech to take over maintenance so updates can be submitted to CRAN.  Development of `shinyAce` will stay on https://github.com/trestletech/shinyAce. Any chance you could provide a PR for this issue?

[2018-04-04 02:54] #48 closed

[2018-04-05 22:20] GregorDeCillia commented on #49
Thanks for your reply. I just tried my example above with the newest version of shiny to no avail.

My guess is that the namespaces are not working properly since there is some `id` of the form

    shinyAce_editorId_hint

responsible for the completions. However, shiny modules only allow suffixes for `id`s, no prefixes. I'll take a look and try to submit a PR.

[2018-04-06 20:06] vnijs commented on #49
@GregorDeCillia Could you check if the current version on GitHub (0.3.01) works as expect in your setting? Thanks for your help!

[2018-04-06 20:21] vnijs opened #55 "fix for singe values + combining auto-complete lists"
@saurfang I just pushed several updates to master and have two questions for you

1. Could you take a look at [these lines](https://github.com/trestletech/shinyAce/blob/master/inst/www/shinyAce.js#L41-L47) that should address an issue when the number of values for a key on the comps list is of length 1. [This line](https://github.com/trestletech/shinyAce/blob/master/inst/examples/06-autocomplete/s

[2018-04-07 13:42] GregorDeCillia commented on #49
Thank you for the quick merge!

It almost works. In `R/aceAutocomplete.R` you just need to replace

    comps <- list(
      id = inputId,
      codeCompletions = jsonlite::toJSON(codeCompletions, auto_unbox = TRUE)
    )

with

    comps <- list(
      id = session$ns(inputId),
      codeCompletions = jsonlite::toJSON(codeCompletions, auto_unbox = TRUE)
    )

as I did in my PR. Then the `autoCom

[2018-04-07 20:56] vnijs commented on #49
Thanks for checking @GregorDeCillia. The current version on GitHub should work but please do check. FYI I also updated credits in the NEWS.md and README.md files.

[2018-04-07 21:18] GregorDeCillia commented on #49
I can confirm that the current version on github does work with my project. Thanks for mentioning me as a contributor.

[2018-04-07 21:37] vnijs commented on #49
Thanks @GregorDeCillia. Closing issue

[2018-04-07 21:37] #49 closed

[2018-04-20 18:41] vnijs commented on #55
@saurfang I found a way to combine _static_ lists. There does seem to be a problem using autocomplete with shiny's `renderUI` however. I edited [example 07](https://github.com/trestletech/shinyAce/tree/master/inst/examples/07-autocomplete-combine) to illustrate. When the editor is specified in ui.R it works as intended. When you use `renderUI`, however, it does not. Could you take a look?

[2018-04-21 18:54] saurfang commented on #55
Glad to hear the progress! I'll take a look tomorrow.

[2018-04-21 18:59] vnijs commented on #55
Great! I appreciate it

On Sat, Apr 21, 2018 at 11:55 AM Forest Fang <notifications@github.com>
wrote:

[2018-04-22 20:16] saurfang commented on #55
I wasn't able to the reproduce the issue you described. Or are you experiencing a different problem?

Initial state:

![image](https://user-images.githubusercontent.com/4317392/39099375-042db2ee-462f-11e8-996e-781398667c6f.png)

Select `airquality`:

![image](https://user-images.githubusercontent.com/4317392/39099376-10bedf9c-462f-11e8-92cd-5a05610105b9.png)

Select `mtcars` again:

![image](https

[2018-04-22 20:27] vnijs commented on #55
When I first start the app (or after refreshing the browser) I see:

![image](https://user-images.githubusercontent.com/2998956/39099481-a55c2e92-4630-11e8-88c9-955d017c4dd3.png)

After switching datasets hints for `dplyr` do indeed show up but not at first.

[2018-04-22 20:30] saurfang commented on #55
ah. got it. I am able to reproduce that. Let me take a look

[2018-04-22 21:06] saurfang commented on #55
The issue is that even though on the server side, `observe` ran after `renderUI`, on the frontend side, completion update message is received before AceEditor is initialized.

The least pervasive solution I came up with is to check whether the editor has been initialized before updating the autocompletion list. I simply used `input[[editor_id]]` as a proxy but the downside is that if you re-initia

[2018-04-22 22:35] vnijs commented on #55
I like option 2 :) See the updated code for [example 07](https://github.com/trestletech/shinyAce/tree/master/inst/examples/07-autocomplete-combine). Works great. Thanks @saurfang!

The one thing that is missing here, I guess, is to allow the user to set/initialize the `autoCompleters` to use in the call to `aceEditor` as well. Now when you add the autocomplete list in `aceEditor` you cannot restri

[2018-04-23 03:36] saurfang commented on #55
Nice! Agreed. It's just a lot of duplicate code that makes me unhappy :) I'll see if I can find some time next weekend to poke around it.

[2018-05-10 04:17] vnijs commented on #55
I added the `autoCompleter` argument to the `shinyAce` function and code to activate the specified auto-complete type. I expected the following lines to do-the-trick but it is not working as intended.

https://github.com/trestletech/shinyAce/blob/master/R/ace-editor.R#L268-L284

In example 07 `local` recommendations should now *not* be shown when the editor is initialized but they are (see screens

[2018-05-13 20:37] saurfang commented on #55
I don't quite have the time to look into this until maybe week after next. For the time being, maybe you can check

1. Verify if `. completers` is empty before you push since editor comes with default completers
1. Verify all completers you referred in the constructor exists at the time of construction by checking JS console for any errors

[2018-05-14 00:22] vnijs commented on #55
Well spotted @saurfang. I was able to get "static" working but not "rlang". The default option when calling `aceEditor` is **not** to restrict the set of possible completers. If you want, however, you can restrict to specific completers (or disable all) and update using `observe` and `aceAutocomplete` as needed.

I'd like to be able to restrict to "rlang" as well but was not able to get that worki

[2018-08-23 10:49] RichardHooijmaijers opened #57 "implement custom modes"
Is there a possibility to include custom made modes within the package?

I noticed that '/inst/www/ace' includes all the available modes for the different languages. I can imagine that if I place my custom mode in here and built the package, it would be accessible by aceEditor().

I am not sure if it would be this simple? If it is, it is still not preferable because it would require to make the pa

[2018-08-23 19:57] vnijs commented on #57
Sorry but I have not done this before. If you have a mode that would be generally useful (e.g., a good Rmd mode) it could perhaps be included in `shinyFiles`.

Otherwise, if you can find a way to make the mode accessible to `shinyFiles` from "outside" of the `shinyFiles` package feel free to submit a PR for review.

[2018-09-08 14:41] gfleetwood opened #58 "Producing Slides With KnitR"
[This example](https://github.com/trestletech/shinyAce/tree/master/inst/examples/03-knitr) shows how to use shinyAce and knitR to knit an Rmarkdown document. Can this be extended to kniting slides?

[2018-09-13 19:37] vnijs commented on #58
That should be possible if you use Rmarkdown to generate the document rather than knitr. Take a look at the `editR` repo linked below for ideas.

https://github.com/swarm-lab/editR

[2018-09-13 19:37] #58 closed

[2018-10-02 11:21] elinw opened #60 "Update in CRAN?"
CRAN won't let you use a remote repository, and I need the update with the fix from @laderast ... is there any chance you would do a CRAN update?

[2018-10-02 21:33] vnijs commented on #60
FYI @elinw

On 10/2/18, 2:31 PM, "ligges@..." <ligges@...> wrote:

Dear maintainer,

thanks, package shinyAce_0.3.2.tar.gz is on its way to CRAN.

Best regards,
CRAN teams' auto-check service

[2018-10-02 21:33] #60 closed

[2018-10-06 23:45] vnijs commented on #60
FYI shinyAce 0.3.2 is now available for all platforms on CRAN

[2019-01-08 18:45] yonicd opened #61 "R version can be made older in DESCRIPTION"
I am running an older R (3.3.3) and can not install CRAN or GH shinyAce because it is (> 3.4.0) even though the package doesnt really depend on that version.

I cloned and update the constraint and it works fine. Is it possible to update it?

thanks

[2019-02-02 19:10] vnijs commented on #61
Just made the change in DESCRIPTION. Can you install from GitHub?

[2019-02-08 14:02] yonicd commented on #61
looks good. thanks!

[code]

[2019-06-27 19:52] vnijs commented on #47
@VMJim I added an option to specify a placeholder when the shinyAce editor is empty based on this SO answer: https://stackoverflow.com/a/26700324/1974918

You can test it out by running the code below and clicking on the "Clear text" button or by simply removing the text in the editor manually.

[code]

This seems to work nicely in several themes BUT not all of them. In, for example, "tomorrow" th

[2019-06-28 00:28] vnijs commented on #44
A number of things you requested are described in the examples. See the updated README.md file for details.

https://vnijs.shinyapps.io/shinyAce-05-hotkeys/
https://vnijs.shinyapps.io/shinyAce-09-selectionId/

[2019-06-28 16:38] vnijs opened #63 "source js functions based on R-function arguments"
I just added an argument `code_hotkeys` to allow jumping through code in an ace editor using hotkeys. Currently it is setup specifically for R and Rmd code. However, it would be nice if this could be extended to other languages as well at some point (e.g., python).

Currently the `code_jump` function is embedded in `shinyAce.js`. In R I could take an argument (e.g., the first element in a nested l

[2019-06-29 06:36] vnijs commented on #63
Working example that uses code in file https://github.com/trestletech/shinyAce/blob/code_hotkeys/inst/www/code/code-jump-r.js for information on how to "jump" trough R or Rmarkdown code.

To see this in action run the code below.

[code]

Suggestions welcome. Also, PRs welcome for other languages (e.g., python).

[2019-06-29 06:38] vnijs commented on #44
See https://github.com/trestletech/shinyAce/issues/63 for an example of how to "jump" through and evaluate R (or Rmarkdown) code using keyboard shortcuts.

[2019-06-29 06:38] #44 closed

[2019-06-29 06:39] vnijs commented on #61
I expect to push an update to CRAN in the next few days so I'll close this issue now

[2019-06-29 06:39] #61 closed

[2019-07-01 02:59] #63 closed

[2019-07-01 21:04] vnijs commented on #47
Placeholder now works as expected for all themes when the shinyAce editor is empty based on this SO answer: https://stackoverflow.com/a/26700324/1974918

You can test it out by running the code below and clicking on the "Clear text" button or by simply removing the text in the editor manually.

Unless any new issues pop up I plan to push this release to CRAN towards the end of this week.

[code]

[2019-07-01 21:04] #47 closed

[2019-07-10 09:38] vnijs commented on #55
Should be resolved (sufficiently) in 0.4.0 on its way to CRAN now

[2019-07-10 09:38] #55 closed

[2019-08-08 10:35] federicomarini opened #64 "Shiny app does not load properly - after 0.4.0"
Hi @vnijs,

I am trying to debug the behavior described in https://github.com/federicomarini/pcaExplorer/issues/6 - which thanks to the help of some other users can be pinpointed to some changes after updating the mighty shinyAce.

I did get the email when you were mentioning the upcoming breaking changes, but I could not identify what triggers the unwanted behavior - in brief: the app does not lo

[2019-08-08 11:06] federicomarini commented on #64
Side note - everything was working as expected with version 0.3.2 of `shinyAce`, I forgot to mention that.

[2019-08-08 20:34] vnijs commented on #64
Are you sure shinyAce is the problem? I just installed you app locally and, as far I can see the shinyAce input is working fine.

![image](https://user-images.githubusercontent.com/2998956/62735877-07229d80-b9e1-11e9-998b-f701781e564c.png)

I did see one warning show below:

Warning: Error in loadNamespace: there is no package called 'BiocStyle'

[2019-08-08 20:43] federicomarini commented on #64
Hi @vnijs
Thanks for checking in.

It can be that you did not encounter the problem because it seems to be fixed by the edit I undertook this afternoon.

https://github.com/federicomarini/pcaExplorer/commit/a5a2439750808a7562d710f98529335360d2b16f

Basically, it did not like I was initializing the value via a `readLines` call. This worked in the former versions, so it was a little hard to track do

[2019-08-08 20:55] vnijs commented on #64
Good to hear. See my comment on federicomarini/pcaExplorer@a5a2439 . I'll close for now but feel free to reopen if needed.

[2019-08-08 20:55] #64 closed

[2019-08-09 01:28] vnijs commented on #64
FYI shinyAce will accept a vector or list as input for the `value` argument in a future release. See https://github.com/trestletech/shinyAce/commit/abcc4fc0382ecdf251e02b6dc33ef947129e5db3

[2019-08-09 12:24] federicomarini commented on #64
Cool, thanks for the pointer!

[2019-08-24 12:36] Enchufa2 opened #65 "Remove execution bit"
Many files under `inst` have the execution flag enabled.

[2019-12-09 17:31] richfitz opened #67 "Change in behaviour with modules between 0.4.0 and 0.4.1"
We have noticed a change in behaviour when using shinyAce in a module and would like to know if this is a bug or a change in behaviour that we can rely on in future versions.

This code:

[code]

in versions 0.4.0 and below will display 2 lines of code. In 0.4.1 it displays nothing (no call to updateAceEditor in this fashion works).

If that line is changed to

[code]

(i.e., dropping the ns) then

[2019-12-09 19:32] GregorDeCillia commented on #67
Normally, it should not be necessary to use `ns()` inside the server part of modules (except for modules that use `renderUI()`). Therefore, I would consider the new behavior as the correct implementation of `updateAceEditor()`. It is also in line with the bhavior of `updateTextInput()` and friends from the `shiny::` namespace.

[2019-12-10 04:23] vnijs commented on #67
I don't use modules much myself so don't have much to add here. Thanks for the comment @GregorDeCillia. @dgkf and @detule updated how shinyAce works with modules so they may want to comments also.

[2019-12-10 10:03] richfitz commented on #67
Great, thanks for the rapid feedback - this is very useful.

[2019-12-11 19:17] dgkf commented on #67
I agree with @GregorDeCillia. This is aligned with the [`shiny::callModule`](https://shiny.rstudio.com/articles/modules.html) behavior of specifying modules with their bare name (as opposed to `ns(<name>)`). As mentioned, the only time `ns()` is typically used is within `ui` functions (or ui's generated within a server function via `renderUI`).

I can't speak to the direction of the package, but d

[2020-04-13 05:50] vnijs opened #68 "integrate firepad for collaborative editing"
This would be an amazing feature for shinyAce! See relevant links below.

https://firepad.io/docs/#getting_started_with_ace
https://github.com/rstudio/learnr/issues/74

[2020-04-13 05:57] vnijs commented on #67
The lack of reported issues suggests this is working as expected. Please reopen if needed.

[2020-04-13 05:57] #67 closed

[2020-05-03 13:47] yonicd opened #69 "showLineNumbers not available in updateAceEditor"
would it be possible to add to `updateAceEditor` the option to control `showLineNumbers`?

currently these are the formals in the function

[code]

<details closed>
<summary> <span title='Click to Expand'> sessioninfo </span> </summary>

[code]

</details>
<br>

[2020-05-04 00:12] vnijs commented on #69
Sure. Try out the version on GitHub (master) now and let me know if it works as expected.

[2020-05-04 10:54] yonicd commented on #69
Thanks!

Unfortunately it doesn't seem to be responding.

Here is where I'm using it.

https://github.com/yonicd/carbonace/blob/linenumbers/R/carbonace.R#L56

[2020-05-07 02:41] vnijs commented on #69
Thanks for testing @yonicd. Should be fixed now. FYI I expanded example 1 in shinyAce to show-hide line numbers as in your app.

[2020-05-07 10:29] yonicd commented on #69
works great now. ty!

[2020-05-07 15:57] certara-mtomashevskiy opened #70 "Example #7 (examples/07-autocomplete-combine) does not work"
[code]

[2020-05-07 23:28] vnijs commented on #70
Thanks for reporting @certara-mtomashevskiy. Should be fixed in the version on github now.

[2020-05-07 23:28] #70 closed

[2020-05-13 13:49] certara-mtomashevskiy opened #71 "modes from original ace are not supported"
Hi,

I tried to create new mode using the existed ones but the js files are formatted in a way difficult to understand and to change
so I tried to substitute the mode for R to the original one:
https://github.com/trestletech/shinyAce/blob/master/inst/www/ace/mode-r.js
->
https://github.com/ajaxorg/ace-builds/blob/master/src/mode-r.js

unfortunately it does not work.
is there any instruction showin

[2020-05-13 21:51] vnijs commented on #71
The js files in the ace/ directory are unchanged and come directly from the folks developing ace editor. These files are minified and if you want to get them in a readable format you would have to "unminify" them, e.g., using the site linked below. If you have a (working) mode you would like to include in shinyAce I'd be happy to consider it, especially if it is for Rmarkdown :)

https://unminify.

[2020-05-19 19:20] certara-mtomashevskiy commented on #71
thank you Vincent!
I think I figured out what are the differences in js files, so this is not an issue anymore.

[2020-05-19 19:20] #71 closed

[2020-05-19 19:51] certara-mtomashevskiy opened #72 "new mode: PML"
Hi,

I created a new mode for Phoenix Modelling Language.
[mode-pml.js.txt](https://github.com/trestletech/shinyAce/files/4652763/mode-pml.js.txt)

The help for the language could be found [here].(https://onlinehelp.certara.com/phoenix/8.3/index.html#t=topics%2Fintropml.htm)

Is it possible to add it to shinyAce? Should I create pull request?

[2020-05-19 22:51] vnijs commented on #72
A PR would be great @certara-mtomashevskiy. Thanks!

[2020-05-19 22:51] #72 closed

[2020-05-21 20:22] certara-mtomashevskiy opened #74 "a way to hide the vertical ruler in Ace Editor"
Hi,

is it possible to add the option to hide vertical ruler?
it is described [here](https://stackoverflow.com/questions/14907184/is-there-a-way-to-hide-the-vertical-ruler-in-ace-editor)

[2020-05-24 04:36] vnijs commented on #74
This would require an additional argument for `aceEditor` and `updateAceEditor`. Want to create a PR?

[2020-07-18 21:15] stevepowell99 opened #76 "move cursor programmatically?"
Hi it seems that updateAceEditor does not allow the cursor to be moved programatically. It would be  nice to be able to do:

[code]

to move the cursor to row 79. Is this possible?

[2020-07-20 06:34] vnijs commented on #76
It looks like ace editor has a `firstLineNumber` option so this should be possible. Happy to review a PR for this feature

[2020-10-03 14:10] bes828 opened #77 "Using shinyAce in browser while interacting with the local R session."
I am using R through a gui interface that also allows code editing/modification (r commander), however it lacks the elegant code editing options, such as autocompletion, adding second brackets, auto populate variables using dataset$, etc....

Can I use shinyAce to  edit the code in browser and copy it to r commander? there are a lot of online r code editors but I was hoping shintAce can interact w

[2020-10-06 08:11] vnijs commented on #77
It is possible but not straight forward. I do something like this in Radiant which you might find of interest.

https://radiant-rstats.github.io/docs/index.html

[2021-06-05 14:47] mayank7jan opened #79 "Unable to update ShinyAce"
Hi,

I am unable to update AceEditor from the server when it is already initialized in UI first. The value attribute is read from a markdown using either of the following:

## option 1
observeEvent(input$editorExample,{
    filePath <- file.path("R","knitExample_Basic.Rmd")
    fileChars <- readChar(filePath, nchars = file.info(filePath)$size)

    isolate({
      updateAceEditor(session = session

[2021-06-05 15:13] mayank7jan commented on #79
I have been on this for 2 days and have finally figured it out.

The actual solution is a combination of the above two techniques.

### The following works
[code]

Going to test out this theory and would close the issue soon.

[2021-06-07 10:31] mayank7jan commented on #79
Closing this issue...
Tried the above methodology to wrap the final update text with `paste(textFile, collapse = "\n")` in multiple apps and works fine.

Findings -

1. It is important to wrap the read text file for updation with paste to convert it into a single character vector of length 1. Otherwise, it throws an error due to length mismatch of theList[1] in the function server backend for shin

[2021-06-07 10:31] #79 closed

[2021-08-02 16:05] KryeKuzhinieri opened #80 "Adding custom themes"
Hello,

Is there any way to add custom themes by specifying a path to the theme? We are using shinyAce in our app but we want to add our own custom theme to the editor.

Thanks in advance!

[2021-09-15 09:30] samssann commented on #74
I hid it with css changes
[code]

[2021-09-22 06:59] #74 closed

[2021-10-01 05:15] vnijs commented on #80
We don't currently have a way to do it. If you can create a PR for this feature, however, I'd be happy to review it.

[2021-10-01 05:15] #80 closed

[2022-09-03 14:42] john-harrold opened #81 "Embed shinyAce editor in RMarkdown"
Hello I've been trying to figure out if it is possible to embed shinyAce in an RMarkdown document. I want to use it to display code in a scrollable way, not necessarily to allow someone to edit it. If it's possible could someone please give me an example?

[2022-09-03 19:17] vnijs commented on #81
Yes you can. See the link below for more information. I assume you can do this with quarto as well but haven't tried that yet.

https://bookdown.org/yihui/rmarkdown/shiny-start.html

<pre>
---
title: "shinyAce in Rmarkdown"
output: html_document
runtime: shiny
---

[code]
</pre>

[2022-09-03 19:17] #81 closed

[2022-09-03 20:15] john-harrold commented on #81
Thankyou Vincent.